.upload_file_btn.MuiButton-root {
  color: #fff;
  font-family: "Cabin", sans-serif !important;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  width: 100%;
  background-color: rgb(30, 135, 201) !important;
  text-transform: none;
}

.image_upload_wrapper {
  display: flex;
  width: 100%;
}

.image_upload_capture {
  width: 100%;
}

.image_json_wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.image_json_wrapper label,
.upload_input_field label {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  padding-bottom: 5px;
}

.image_json_response {
  width: 450px;
  min-height: 200px;
  border-radius: 9px;
}

.upload_input_field_wrapper {
  width: 100%;
}

.upload_input_field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.loading {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  :global(.MuiCircularProgress-root) {
    color: #fff;
  }
}
